.personalizacao {
    width: 200px;
    padding: 25px;
    background-color: #0088cc;
    color: #fff;
    font-size: 17px;
}
.personalizacao2 {
    width: 200px;
    padding: 25px;
    background-color: #cab924;
    color: #fff;
    font-size: 17px;
}